.input {
    padding: 5px 10px 0;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    width: 100%;
    max-width: 150px;
    background-color: transparent;
    outline: none;
    color: var(--secondary-color);
}
.inputWrapper {
    display: flex;
    gap: 0 10px;
    align-items: flex-end;
    
}
.placeholder {
    text-wrap: nowrap;
    color: var(--secondary-color);
}